*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.navbar{
  width: 100%;
  height: 10vh;
  background-color: #f1f2f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
   
}

.navbar ul {
  display: flex;
  flex: 2;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.navbar ul li {
  margin: 3%;
  font-size: 1.3rem;
  font-weight: 500;
  list-style: none;
}

.nav-left{
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: url('https://wallpaperaccess.com/full/2690549.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-lux{
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.8)
}

.line{
  height: 5%;
  width: 45%;
  background: #eccc68;
  border-radius: 10px;
}

.modal-lux button{
  background: #f3a683;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.services{
  background: #f1f2f6;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services-container{
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.service-comp{
  flex: 1;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-comp img{
  height: 150px;
  width: 150px;
}

.room-container{
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.hotel-filters{
  width: 100%;
  height: 50%;
  display: flex;
}

.hotel-filter{
  flex:1;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.css-1s2u09g-control{
  width: 300px;
}

.css-14dclt2-Input{
  width: 300px;
}

.room-header{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
}

.rooms-cards{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.room-card{
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  margin: 15px 5px;
   
}

.room-card:hover{
  background-color: #ecf0f1;
}

.room-card img{
  height: 320px;
  width: 320px;
}

.single-room{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.single-room-img{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-room-img img{
  height: 500px;
  width: 500px;
}

.single-room-txt{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

 

.sc-jSgvzq.jJOCMs.rec.rec-carousel-wrapper{
  width: 100%;
} 

p{
  font-size: 1.3rem;
  font-weight: 500;
}


@media (max-width: 480px) {
  .navbar ul li {
    margin: 3%;
    font-size: 1rem;
    font-weight: 300;
    list-style: none;
  }

  .navbar h1{
    font-size: 1.2rem;
    margin-left: 20%;
  }

  .modal-lux{
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: rgba(255, 255, 255, 0.8)
  }

}